@model SavedComment
<div class="card m-3 rounded">
    <div class="card-block m-2">
        <h3>
            <strong>@Model.Name</strong>
        </h3>
        <span class="lead">@Model.Body</span>
    </div>
</div>